<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResolverQuestao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ResolverQuestao.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/001d53005b.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ResolverQuestao</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav  nav-container">
                        <li class="nav-item ">
                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="Exercicios"
                                asp-action="Index">Exercicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-container-item" asp-area=""
                                asp-controller="ListaExercicios" asp-action="Index">Listas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="ListaRegistros"
                                asp-action="Index">Historico</a>
                        </li>
                    </ul>

                    <div class="nav-container-login">


                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class=" nav-link nav-container-item">Hi @User.Identity.Name!</a>

                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="Usuarios"
                                asp-action="logout">Logout</a>
                        }

                        else
                        {

                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="Usuarios"
                                asp-action="Registrar">Registrar</a>
                            <a class="nav-link text-dark nav-container-item" asp-area="" asp-controller="Usuarios"
                                asp-action="Login">Login</a>
                        }


                    </div>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="home-main">


                
                <section class="home-main-section1">
                @RenderBody()

                </section> 

                @* <section class="home-main-section2">
                <div class="home-main-section2-usuario">
                <h4 class="home-main-section2-usuario-titulo">@User.Identity.Name!</h3>
                <p class="home-main-section2-usuario-titulo">@DateTime.Now.ToString("dd-MM-yyyy")</p>
                </div>

                <div class="home-main-section2-metricas">
                <div class="home-main-section2-metricas-container">
                <h5 class="home-main-section2-usuario-metricas-contador">@ViewBag.ContagemExercicios</h5>
                <p>Exercicios</p>
                </div>
                <div class="home-main-section2-metricas-container">
                <h5 class="home-main-section2-usuario-metricas-contador">@ViewBag.ContagemListas</h5>
                <p>Listas</p>
                </div>
                </div>

                </section> *@

            </div>







        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ResolverQuestao - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
