@model Exercicio




<div class="container">

    <h1 class="text-center">@Model.Titulo</h1>
    <p>@Model.Enunciado</p>

    <form asp-action="ResolverQuestao" method="post">

        <div class="form-group">
            @foreach (var item in Model.Alternativas)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="resposta" id="@item.AlternativaId" value="@item.Texto" checked>
                    <label class="form-check-label" for="@item.AlternativaId">
                        @item.Texto
                    </label>
                </div>
            }
        </div>


        <input type="hidden" name="id" value="@Model.ExercicioId" />

        @* enviar *@

        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>

        <a asp-action="Index" class="btn">Voltar</a>
    </form>

    @* viewbag com o resultado *@
    @if (ViewBag.Resposta != null)
    {
        @* se a resposta correta, ficar verde *@
        if (ViewBag.Resposta == true)
        {
            <div class="alert alert-success" role="alert">
                Resposta correta!
            </div>
        }


        else
        {
            <div class="alert alert-danger hide" role="alert">
                Resposta incorreta!
            </div>

            <div class="form-group hide">
                <label for="pergunta">Deseja ver a resposta correta?</label>
                <div id="pergunta" class="form-control">
                    <button id="sim" onclick="mostrarResposta()">Sim</button>
                    <button id="nao" onclick="recarregarPagina()">Não</button>
                </div>
            </div>
            <div id="resposta-correta" class="alert alert-info" role="alert" style="display: none;">
                A resposta correta é: <span id="correta"></span>
            </div>


            <div class="explicacaoMaterialApoio" style="display: none;">



                @if (ViewBag.Explicacao == true || ViewBag.MaterialSuporte == true)
                {

                    if (ViewBag.Explicacao == true)
                    {
                        <div>
                            <p>Explicação</p>
                            <p>@Model.Explicacao</p>
                        </div>
                    }
                    if (ViewBag.MaterialSuporte == true)
                    {
                        <div>
                            <p>Material de Apoio</p>
                            <p>@Model.MaterialSuporte</p>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <p>Não há explicação ou material de apoio para esta questão</p>
                    </div>
                }
                }
            </div>

        }}

        @* js script *@
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>

            // função para mostrar a resposta correta na div
            function mostrarResposta() {
                // pega o valor da resposta correta do modelo
                var correta = "@Model.Resposta";
                // mostra a resposta correta na div
                $("#correta").text(correta);
                $("#resposta-correta",).show();
                $(".explicacaoMaterialApoio").show();
                $(".hide").hide();
            }

            // função para recarregar a página
            function recarregarPagina() {
                $(".hide").hide();
            }






        </script>

