@model List<FeedBack>


@* foreach, mostrar todos os itens *@
<div class="feedbackIndex-container">
@foreach (var item in Model)

{
    
        <div class="feedbackIndex-container-feedback">
        <h4>Exercicio</h4>
        <p>@item.Exercicio.Titulo</p>
        <a asp-controller="Exercicios" asp-action="Edit" asp-route-id="@item.Exercicio.ExercicioId">Editar esse exercicio</a>
        <p>@item.Descricao</p>
        <p>@item.Avaliacao</p>
        <p>@item.Solucao</p>

        <form asp-action="Avaliar" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <div>
                <label for="avaliacao">Avaliação</label>
                <input type="text" name="avaliacao" />
            </div>
            <input type="submit" value="Avaliar" />
        </form>

        <form asp-action="Resolver" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <div>
                <label for="solucao">Solucao</label>
                <input type="text" name="solucao" />
            </div>
            <input type="submit" value="Resolver" />
        </form>
        <form asp-action="Deletar" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <input type="submit" value="Deletar" />
        </form>


        </div>



        
   }

       </div>