@model List<FeedBack>

<div class="container">



@* foreach, mostrar todos os itens *@
<div class="feedbackIndex-container">
@foreach (var item in Model)

{
    
        <div class="feedbackIndex-container-feedback">
            <div class="feedbackIndex-textos">

        <h2>@item.Exercicio.Titulo</h2>
        <a asp-controller="Exercicios" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Exercicio.ExercicioId">Editar esse exercicio</a>
        <p>Descricao: @item.Descricao</p>
        <p>Avaliação: @item.Avaliacao</p>
        <p>Solução: @item.Solucao</p>
            </div>

        <div class="feedbackIndex-Forms">

                <div class="forms-form">

        <form asp-action="Avaliar" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <div>
                <label for="avaliacao">Avaliação</label>
                <input type="text" name="avaliacao" />
            </div>
            <input type="submit" class="btn btn-primary" value="Avaliar" />
        </form>
</div>

<div class="forms-form">
        <form asp-action="Resolver" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <div>
                <label for="solucao">Solucao</label>
                <input type="text" name="solucao" />
            </div>
            <input type="submit" class="btn btn-primary" value="Resolver" />
        </form>
</div>

<div class="forms-form">
        <form asp-action="Deletar" asp-controller="FeedBack" method="post">
            <input type="hidden" name="id" value="@item.FeedBackId" />
            <input type="submit" class="btn btn-danger" value="Deletar" />
        </form>
        </div>
        </div>

        </div>



        
   }

       </div>

       </div>