@model ResolverQuestao.Models.ViewModels.ListaExercicioHomeViewModel

@{
    var exercicios = Model.Exercicios;
    Boolean temExercicios = exercicios.Count > 0;

    var listas = Model.ListaExercicios;
    Boolean temListas = listas.Count > 0;
}

<div class="home">


    @if (temListas)
    {
        <div class="container-home">
             <h1 class="title text-center">Lista Exercicios</h1>
            <ul class="list-group">
                @foreach (var item in Model.ListaExercicios)
                {
                    <div class="icones-container">

                        <li class="list-group-item lista-item">@item.Titulo</li>
                        <li class="list-group-item icones-container-tipo ">@item.Tipo</li>

                        <div class="icones-container-icones">
                            <a asp-action="ResponderSequencia"  asp-controller="ListaExercicios" asp-route-id="@item.ListaExercicioId"><i
                            class="fa-solid fa-arrow-right"></i></a>
                            <a asp-action="Edit" asp-controller="ListaExercicios" asp-route-id="@item.ListaExercicioId"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Details" asp-controller="ListaExercicios" asp-route-id="@item.ListaExercicioId"><i class="fa-solid fa-expand"></i></a>
                            <a asp-action="Delete" asp-controller="ListaExercicios" asp-route-id="@item.ListaExercicioId"><i
                                    class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </div>
                }

            </ul>
        </div>
    }

    else
    {
        <div class="container-home">
            <h4 class="text-center">
                Não há listas de exercicios cadastradas
            </h4>
        </div>
    }


</div>


