@model ResolverQuestao.Models.ViewModels.HomeViewModel

@if (ViewBag.NenhumaListaRespondida == true)
{
    <div>
        <h1>Nenhuma Lista Respondida</h1>
    </div>
}
<section class="home-section">

    <div class="home-section--geral">

        <div>
            <h1>Números Gerais</h1>
            <p>Aproveitamento @Model.Aproveitamento</p>
            <p>Quantidade de Questões Respondidas @Model.QuantidadeQuestoesRespondidas</p>
            <p>Matérias Respondidas @Model.QuantidadeMateriasRespondidas</p>
        </div>
            <p><strong>Ir com calma e ter consistência é o melhor jeito de alcançar seus objetivos.</strong> Se você falhou hoje, não se
                preocupe, o importante é não desistir e tentar novamente amanhã. Se você está aqui hoje, parabéns, você
                está no caminho certo. O futuro vai chegar e a consistência vai te recompensar.
            </p>
    
        </div>
    </div>
    <div class="home-section--info">
        <div class="home-section--info-indicador">
            <h1>Melhor Materia</h1>
            <p><strong><span>@Model.MelhorMateria</span></strong></p>
            <p><span>@Model.AproveitamentoMelhorMateria de acertos em @Model.QuantidadeQuestoesMelhorMateria Questões</span></p>
        </div>
        <div class="home-section--info-indicador">
            <h1>Pior Materia</h1>
            <p><strong><span>@Model.PiorMateria</span></strong></p>
            <p><span>@Model.AproveitamentoPiorMateria</span> de acertos em @Model.QuantidadeQuestoesPiorMateria Questões </p>
        </div>
    </div>

</section>