
@model ResolverQuestao.Models.ViewModels.HomeViewModel

@if (ViewBag.NenhumaListaRespondida == true )
{
    <div>
        <h1>Nenhuma Lista Respondida</h1>
    </div>
}

<div>
    <h1>Números Gerais</h1>
    <p>Aproveitamento @Model.Aproveitamento</p>
    <p>Quantidade de Questões Respondidas @Model.QuantidadeQuestoesRespondidas</p>
    <p>Matérias Respondidas @Model.QuantidadeMateriasRespondidas</p>
</div>

<div>
    <h1>Melhor Lista</h1>
    <p>Titulo: <span> @Model.MelhorListaRespondida.Titulo </span></p>
    <p>Materia: <span>@Model.MelhorListaRespondida.Tipo </span></p>   
    <p>Aproveitamento nessa lista: @Model.MelhorListaRespondidaAproveitamento </span></p>
</div>
<div>
    <h1>Pior Lista</h1>
    <p>Titulo: <span>@Model.PiorListaRespondida.Titulo </span></p>
    <p>Materia: <span>@Model.PiorListaRespondida.Tipo </span></p>
    <p>Aproveitamento nessa lista: <span>@Model.PiorListaRespondidaAproveitamento</span></p>
</div>

