@model List<ListaRegistro>

<div>
    @foreach (var item in Model)
    {
        <div>
            <h2>
                @item.TituloLista
            </h2>
            <p>
                Acertos
                @item.Acertos
            </p>

            <p>
                Erros
                @item.Erros
            </p>

            <p>
                @item.DataRegistro
            </p>

        </div>

        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@item.ListaRegistroId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    }
</div>