@model ResolverQuestao.Models.ViewModels.IndexListaExercicioViewModel

<div class="container">



    <h1 class="title text-center">Listas</h1>
            
            <div class="caixa-pesquisa">
        <a asp-action="Create" class="caixa-pesquisa-item criarlista"><i class="fa-solid fa-plus"></i></a>
    @foreach (var tipo in Model.Tipos.Distinct())
    {
        
                <a asp-action="ProcurarPorTipo" asp-route-tipo="@tipo" value="@tipo" class="caixa-pesquisa-item">@tipo</a>     
               
    }
        </div>

    

<div class="listaItens-box">


@if(Model.Filtro == true)
{
     @foreach (var item in Model.ListasSelecionadas)
    {
    
    <div class="listaItens">

    <p >@item.Titulo</p>
    <p class="listaItensTipo" >@item.Tipo</p>

    <div class="listaItensIcones-Box">
    <a asp-action="ResponderSequencia" asp-route-id="@item.ListaExercicioId"><i
    class="fa-solid fa-fire-flame-curved listaItensIcones listaItensIcones"></i></a>
    <a asp-action="Edit" asp-route-id="@item.ListaExercicioId"><i class="fa-solid fa-pen-to-square listaItensIcones"></i></a>
    <a asp-action="Details" asp-route-id="@item.ListaExercicioId"><i class="fa-solid fa-expand listaItensIcones"></i></a>
    <a asp-action="Delete" asp-route-id="@item.ListaExercicioId"><i class="fa-solid fa-trash-can listaItensIcones"></i></a>



    </div>
    </div>
    }
}


</div>

</div>

