@model ListaExercicio


@{
    var materialSuporte = ViewBag.MaterialSuporte;
    var idExercicio = ViewBag.IdExercicio;
    var resposta = ViewBag.Resposta;

    //exercicio retornado

    var exercicio = Model.Exercicios.Where(e => e.ExercicioId == idExercicio).FirstOrDefault();

    var contagemExercicios = Model.Exercicios.Count();

    var indice = Model.IndiceExercicio;

    if (indice > contagemExercicios - 1)
    {
        indice = 0;
    }

    if (indice < 0)
    {
        indice = contagemExercicios - 1;
    }


    var exercicioFoco = Model.Exercicios[indice];

    var acertos = ViewBag.Acertos;

    var erros = ViewBag.Erros;

    var indiceContagem = indice + 1;

}
<div>


    <div class="lista">


        <div class="lista-exercicios">

            @* Exercicios com alternativas *@
            <h1 class="text-primary">Exercicio @indiceContagem de @contagemExercicios</h1>
            <h3>@exercicioFoco.Titulo</h3>
            <h5>@exercicioFoco.Enunciado</h5>
            <form asp-action="ResponderSequencia" method="post">

                <input type="hidden" name="indice" value="@indice" />

                <input type="hidden" name="acertos" value="@acertos" />
                <input type="hidden" name="erros" value="@erros" />


                @foreach (var alternativas in exercicioFoco.Alternativas)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="resposta" id="@alternativas.AlternativaId"
                            value="@alternativas.Texto">
                        <label class="form-check-label" for="@alternativas.AlternativaId">
                            @alternativas.Texto
                        </label>
                    </div>
                }


                @if (idExercicio != null && exercicioFoco.ExercicioId == idExercicio)
                {
                    if (resposta == true)
                    {
                        <div class="alert alert-success" role="alert">
                            Resposta correta!
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Resposta incorreta!
                        </div>


                        <div class="form-group hide">
                            <label for="pergunta">Deseja ver a resposta correta?</label>
                            <div id="pergunta" class="form-control">
                                <button id="sim" onclick="mostrarResposta()">Sim</button>
                            </div>
                        </div>
                        <div id="resposta-correta" class="alert alert-info" role="alert" style="display: none;">
                            A resposta correta é: <span id="correta">@exercicioFoco.Resposta</span>
                        </div>


                        <div class="explicacaoMaterialApoio" style="display: none;">



                            @if (ViewBag.Explicacao == true || ViewBag.MaterialSuporte == true)
                            {

                                if (ViewBag.Explicacao == true)
                                {
                                    <div>
                                        <p>Explicação</p>
                                        <p>@exercicioFoco.Explicacao</p>
                                    </div>
                                }
                                if (ViewBag.MaterialSuporte == true)
                                {
                                    <div>
                                        <p>Material de Apoio</p>
                                        <p>@exercicioFoco.MaterialSuporte</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div>
                                    <p>Não há explicação ou material de apoio para esta questão</p>
                                </div>
                            }

                        </div>
                    }
                }
                <input type="hidden" name="id" value="@exercicioFoco.ExercicioId" />
                @* enviar *@
                <div class="form-group ">
                    <input type="submit" value="Responder" class="btn btn-success" />
                </div>
            </form>

            <div class="d-flex flex-row bd-highlight mb-1 mt-1 gap-1 responder-lista-controles">
                <form asp-action="VoltarExercicio" asp-controller="ListaExercicios" method="post">
                    <input type="hidden" name="indice" value="@indice" />
                    <input type="hidden" name="id" value="@Model.ListaExercicioId" />
                    <input type="hidden" name="acertos" value="@acertos" />
                    <input type="hidden" name="erros" value="@erros" />
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"> <i class="fa-solid fa-arrow-left"></i> </button>
                    </div>
                </form>

                <form asp-action="ProximoExercicio" asp-controller="ListaExercicios" method="post">
                    <input type="hidden" name="indice" value="@indice" />
                    <input type="hidden" name="id" value="@Model.ListaExercicioId" />
                    <input type="hidden" name="acertos" value="@acertos" />
                    <input type="hidden" name="erros" value="@erros" />
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"> <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </form>


                <!-- Adiciona um id ao formulário -->
                <form id="feedback-form" asp-controller="Feedback" asp-action="Registrar">
                    <div class="responder-lista-controles-feedback">
                        <input type="hidden" name="exercicioId" value="@exercicioFoco.ExercicioId" />
                        <input type="hidden" name="id" value="@Model.ListaExercicioId" />
                        <input type="hidden" name="acertos" value="@acertos" />
                        <input type="hidden" name="erros" value="@erros" />
                        <input type="hidden" name="indice" value="@indice" />
                        <input type="submit" value="Feedback" class="btn btn-primary" />
                        <input type="text" name="descricao" placeholder="Deixe seu feedback aqui"
                            class="form-control" />
                    </div>
                </form>

                <!-- Adiciona um ícone para mostrar o formulário -->
                <i id="icone" class="fa-solid fa-thumbs-down"></i>


            </div>

            <form asp-action="SelecionarExercicio" asp-controller="ListaExercicios" method="post"
                class="responder-lista-indice">
                @foreach (var item in Model.Exercicios)
                {

                    <input type="hidden" name="id" value="@Model.ListaExercicioId" />
                    var indices = (int.Parse(Model.Exercicios.IndexOf(item).ToString()) + 1).ToString("00");

                    @* <input type="submit" value="@Model.Exercicios.IndexOf(item)" name="indice" class="btn btn-primary" />
                *@

                    @* <input type="hidden" value="@Model.Exercicios.IndexOf(item)" name="indice"/> *@

                    <button type="submit" name="indice" value="@Model.Exercicios.IndexOf(item)"
                        class="btn btn-primary">@indices</button>

                    @* se o indice do exercicio for giual ao @Model.Exercicios.IndexOf(item) deixar o botao amarelo *@
                    @if (Model.IndiceExercicio == Model.Exercicios.IndexOf(item))
                    {
                        <style>
                            button[value="@Model.Exercicios.IndexOf(item)"] {
                                background-color: #00923f;
                            }
                        </style>
                    }

                }

                <input type="hidden" name="acertos" value="@acertos" />
                <input type="hidden" name="erros" value="@erros" />
            </form>



            <div class="mt-1" id="conteudo" style="display: none;"></div>

        </div>


        <section class="topicos-lista">
            <div>
                <h4 class="text-success">Acertos: @acertos</h4>
                <h4 class="text-danger">Erros: @erros</h4>

                <div class="mt-1">
                    <form asp-action="Registrar" asp-controller="ListaRegistros">
                        <input type="hidden" name="id" value="@Model.ListaExercicioId" />
                        <input type="hidden" name="acertos" value="@acertos" />
                        <input type="hidden" name="erros" value="@erros" />
                        <input type="submit" value="Finalizar" class="btn btn-primary" />
                    </form>
                </div>


                <div class="mt-1">
                    <h3 class="text-primary">Material de Apoio</h3>
                    <ul id="menu">
                        @foreach (var item in Model.TopicoListas)
                        {
                            <li><a href="#" data-content="@item.Conteudo">@item.Titulo</a></li>
                        }
                    </ul>

                    @* <div id="conteudo" style="display: none;"></div> *@

                </div>
            </div>
        </section>



    </div>
</div>


@* js script *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    // função para mostrar a resposta correta na div
    function mostrarResposta() {
        // remover o comportamento padrão do botão
        event.preventDefault();


        // mostra a resposta correta na div
        $("#correta").show();
        $("#resposta-correta",).show();
        $(".explicacaoMaterialApoio").show();
        $(".hide").hide();
    }

// Esconde o formulário de feedback inicialmente
$("#feedback-form").hide();

$("#icone").click(function() {
  $("#feedback-form").toggle();
});


    // Seleciona todos os links do menu
    var links = document.querySelectorAll("#menu a");

    // Adiciona um evento de clique para cada link
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener("click", function (e) {
            // Previne o comportamento padrão do link
            e.preventDefault();
            // Seleciona o elemento que mostra o conteúdo
            var conteudo = document.getElementById("conteudo");
            // Altera o conteúdo de acordo com o atributo data-content do link clicado
            //conteudo.innerHTML = this.dataset.content;
            // Altera o conteúdo de acordo com o atributo data-content do link clicado
            conteudo.innerHTML = "<h2 class = 'text-primary'>" + this.innerText + "</h2>" + this.dataset.content;

            // Altera o estilo do elemento para mostrar o conteúdo
            conteudo.style.display = "block";
        });
    }



</script>